@import 'normalize.css';

@font-face {
	font-family: Droid Serif;
	src: url('../fonts/DroidSerif.ttf') format('truetype'),
		url('../fonts/DroidSerif-Bold.ttf') format('truetype'),
		url('../fonts/DroidSerif-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, ul, img, li, p {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
body {
	font-family: 'Droid Serif',  sans-serif;
}
.header {
	padding-top: 43px;
	padding-bottom: 132px;
	min-height: 1vh;
	background-color: #e4ddcf;
	max-width: 100%;
	background-image:  url(../img/bg-duck-1.png), 
					url(../img/bg-duck.png), 
					url('../img/bg-duck-elipse.png'),
					url(../img/bg-duck-1.png);
	background-repeat: no-repeat;
	background-position: -200px, 85%, 97% 88%, 1160px 52%;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.menu {
	min-height: 40px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 165px;
}
.site-logo {
	width: 30%;
}
.navbar ul li {
	display: inline-block;
	position: relative;
}
.navbar li a {
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: 600;
	font-size: 18px;
	color: #6d6d6d;
	text-transform: capitalize;
	padding: 0 25px;
	margin-bottom: 10px;
}
.navbar li a:hover {
	color: #2e4265;
}
.navbar li a::after {
	content: '';
	width: 0%;
	height: 3px;
	background-color: #2e4265;
	opacity: 0.5;
	position: absolute;
	bottom: 0; left: 50%;
	
	transition: all .5s;
}
.navbar li a:hover::after {
	left: 10%;
	width: 80%;
}
.hero-title {
	max-width: 508px;
	color: #2e4265;
	font-size: 4em;
	font-weight: 700;
	line-height: 75px;
}

.hero-text {
	margin-top: 50px;
	display: block;	
	max-width: 514px;
	opacity: 0.8;
	color: #282828;
	font-size: 16px;
	font-weight: 300;
	line-height: 26px;
}
.hero-button {
	width: 200px;
	height: 58px;
	margin-top: 50px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 28px;
	background-color: #d68c6f;
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	text-transform: capitalize;
	cursor: pointer;

	animation-name: button-left;
	animation-duration: 0.3s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: alternate;
}
.hero-button:hover {
	color: #d68c6f;
	background-color: #fff;
}


.product {
	position: relative;
	background-image: url('../img/bg-duck-egg.png'),
					url('../img/bg-small-duck.png');
	background-repeat: no-repeat;
	background-position: -70px -75px, 1150px 200px;
	padding-bottom: 84px;
}
.product-header {
	opacity: 0.04;
	color: #2e4265;
	font-size: 175px;
	font-weight: 700;
	text-transform: capitalize;
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 25%;
	top: 0;
}
.drowing-line {
	max-width: 780px;
	height: 51px;
	position: relative;
	color: #2e4265;
	font-size: 63px;
	font-weight: 20px;
	margin: 0 auto;
	padding-top: 130px;
}
.drowing-line li:nth-child(1) {
	position: absolute;
	left: -70px;
	transform: rotate(-90deg);
}
.drowing-line li:nth-child(2) {
	position: absolute;
	top: 55%;
	left: 45%;
}
.drowing-line li:nth-child(3) {
	position: absolute;
	right: -70px;
	transform: rotate(-90deg);
}

.line {
	max-width: 780px;
	position: relative;
	height: 18px;
	margin: 0 auto;
}
.line-top {
	border-bottom: 2px solid #2e4265;
	border-top: 0;
	position: relative;
}
.line-top::after{
	content: '';
	width: 16px;
	height: 4px;
	background-color: #2e4265;
	transform: rotate(90deg);
	position: absolute;
	top: 16px;
	right: 50%;
	border-radius: 30%;

}
.line-bottom {
	border-top: 2px solid #2e4265;
	border-bottom: 0;
	position: relative;
}
.line-bottom::after {
	content: '';
	width: 24px;
	height: 4px;
	background-color: #2e4265;
	transform: rotate(90deg);
	position: absolute;
	top: -4px;
	right: -12px;
	border-radius: 30%;
}
.line-bottom::before {
	content: '';
	width: 24px;
	height: 4px;
	background-color: #2e4265;
	transform: rotate(90deg);
	position: absolute;
	top: -4px;
	left: -12px;
	border-radius: 30%; 	
}
.drowing-line__text {
	text-align: center;
	color: #636363;
	font-family: "Work Sans";
	font-size: 26px;
	font-weight: 300;	
	line-height: 40px;
}
.product-img {
	margin-top: 112px;
	height: 500px;
	background-image: url('../img/duck-egg.png'),
					url('../img/small-duck.png'),
					url('../img/big-duck.png');
	background-repeat: no-repeat;
	background-position: 40px 140px, 300px 45px, 450px 0;
}

.product-info{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.product-info li{
	position: relative;
	width: 45%;
}
.product-info__bg-title {
	padding: 0;
	margin: -7px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.04;
	color: #2e4265;
	font-size: 163px;
}
.product-info__title {
	color: #2e4265;
	font-size: 63px;
	padding-top: 40px;
}
.produnct-info__bg-text {
	margin-top: 7px;
}
.product-info__desc {
	margin-top: 40px;
	color: #636363;
	opacity: 0.9;
	font-family: sans-serif;
	font-size: 16px;
	line-height: 30px;
}

.subscribe {
	background-color: #e4ddcf;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 85px 0;

	background-image: url('../img/bg-subscribe-duck.png'),
					url('../img/bg-subscribe-duck-1.png');
	background-repeat: no-repeat;
	background-position: 1120px 50px, 0 50px;
}
.subscribe-form {
	padding-top: 55px;
	margin-right: 100px;
}
.subscribe-form__title {
	font-size: 60px;
	color: #2e4265;
	text-transform: capitalize;
	text-align: center;
}
.subscribe-form__subtitle {
	margin-top: 40px;
	color: #555555;
	font-size: 18px;
}
.subscribe-form__input {
	margin-top: 40px;
	text-align: center;
	width: 346px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
}
.subscribe-form__input::after{
	content: '';
	width: 100%;
	height: 3px;
	background-color: #d68c6f;
	position: absolute;
	bottom: 0; right: 0;

	transition: all 0.5s;
}
.subscribe-form__input input[type="email"] {
	border: none;
	width: 300px;
	padding: 15px 0 15px 8px;	
	background-color: #e4ddcf;
}

.button-email {
	background-color: #d68c6f;
	border: none;
	padding: 10px;
	cursor: pointer;
}